:root{
    --whiteCool-color: #dad7cd;
    --orange-color: #BF4E30;
}

.navbar{
    background-color: var(--whiteCool-color);
}

.nav .nav-link.active{
    background-color: var(--orange-color);
    color: var(--whiteCool-color);
}

.nav .nav-link, .navbar-brand{
    color: var(--orange-color);
}

.navbar-brand span{
    -webkit-text-stroke: 2px var(--orange-color);
    -webkit-text-fill-color: transparent;
}

.navbar-toggler{
    border-color: var(--orange-color);
}

.span-laranja{
    color: var(--orange-color);
}

#about, #contact{
    background-color: var(--whiteCool-color);
}

.section-title{
    padding-bottom: 3rem;
}

.section-padding{
    padding: 5rem 0;
}

.bg-laranja{
    background-color: var(--orange-color);
}

.btn{
    color: #fff;
}

.btn:hover{
    background-color: var(--whiteCool-color);
    color: var(--orange-color);
    border: 1px solid var(--orange-color);
}

#mensagem{
    height: 100px;
    resize: none;
    padding: 0.5rem;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links a{
    text-decoration: none;
}