:root{
    --whiteCool-color: #dad7cd;
    --orange-color: #BF4E30;
}

body{
    overflow-y: auto;
}

.navbar{
    background-color: var(--whiteCool-color);
}

.nav .nav-link.active{
    background-color: var(--orange-color);
    color: var(--whiteCool-color);
}

.nav .nav-link, .navbar-brand{
    color: var(--orange-color);
}

.navbar-brand:hover, .navbar-brand:active, h1{
    color: var(--orange-color);
}

.navbar-brand span{
    -webkit-text-stroke: 2px var(--orange-color);
    -webkit-text-fill-color: transparent;
}

.navbar-toggler{
    border-color: var(--orange-color);
}

.span-laranja{
    color: var(--orange-color);
}

#about, #contact{
    background-color: var(--whiteCool-color);
}

.section-title{
    padding-bottom: 3rem;
}

.section-padding{
    padding: 5rem 0;
}

.bg-laranja{
    background-color: var(--orange-color);
}

.btn{
    color: #fff;
}

.btn:hover{
    background-color: var(--whiteCool-color);
    color: var(--orange-color);
    border: 1px solid var(--orange-color);
}

#mensagem{
    height: 100px;
    resize: none;
    padding: 0.5rem;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links a{
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    #about img{
        max-width: 150px;
        margin: 0 auto;
        padding-top: 2rem;
    }

    .section-padding{
        padding: 1cqh 0;
    }
    .section-title{
        padding: 2rem 0 1rem;
        text-align: center;
    }
    
    h3{
        margin-top: 1.5rem;
    }

    #cardapio aside{
        margin-bottom: 2rem;
    }

    #contact h3{
        margin-top: 1.5rem;
        text-align: center;
    }

    #contact form button{
        width: 100%;
    }

    #contact .social-links{
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;
    }

    #contact p{
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    #about .section-title{
        padding-bottom: 1rem;
    }

    #about img{
        margin: auto;
        width: 100%;
        margin: 6rem 0;
    }

    #about h3{
        margin-top: 1.5rem;
    }

    #burguer-esp h5{
        font-size: 1.2rem;
    }

    #contact .social-links{
        margin-bottom: 2rem;
    }

    #contact form button{
        width: 100%;
    }
}